.jumbotron {
  padding-top: 4rem;
  background-color: #ff78c4;
}

#gallery {
  background-color: #ff78c4;
}

section {
  padding-top: 6rem;
}

.gellery-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#gallery .row > * {
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.gallery-img {
  max-width: 100%;
}

html, body {
  overflow-x: hidden;
}
